<script>
    window.__INITIAL_STATE__ = {{{state}}};
</script>
<div id="root">{{{content}}}</div>
<link rel="stylesheet" text="text/css" href="/static/bundle.css" />
<script type="text/javascript" src="/static/bundle.js"></script>
